# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# Prevent WordPress user enumeration: http://wordpress.stackexchange.com/a/130171
#RewriteCond %{REQUEST_URI} !^/wp-admin [NC]
#RewriteCond %{QUERY_STRING} author=\d
#RewriteRule ^ /? [L,R=301]

# Block access to WordPress files that reveal version information.
<FilesMatch "^(wp-config\.php|readme\.html|license\.txt)">
 #Order allow,deny
 #Deny from all
 #Satisfy All
</FilesMatch>

# Protect wp-includes
#RewriteRule ^wp-admin/includes/ - [F]
#RewriteRule !^wp-includes/ - [S=3]
#RewriteCond %{SCRIPT_FILENAME} !^(.*)wp-includes/ms-files.php
#RewriteRule ^wp-includes/[^/]+\.php$ - [F]
#RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [F]
#RewriteRule ^wp-includes/theme-compat/ - [F]

# BEGIN Brute Force Login Protection
#deny from 91.210.145.10
#deny from 195.154.226.186
#deny from 130.185.155.74
#deny from 195.154.250.248
#deny from 5.153.233.130
#deny from 130.185.155.10
#deny from 5.153.234.154
#deny from 54.174.16.185
#deny from 59.61.185.120
#deny from 195.154.235.96
#deny from 195.154.241.166
#deny from 91.210.145.17
#deny from 103.13.120.32
#deny from 52.53.178.64
#deny from 52.87.191.112
#deny from 91.200.12.132
#deny from 188.163.107.190
#deny from 91.200.12.55
#deny from 188.163.107.134
#deny from 107.23.138.138
#deny from 93.76.230.118
#deny from 151.80.18.236
#deny from 31.134.123.191
#deny from 180.150.227.197
#deny from 194.187.250.229
#deny from 89.238.166.136
#deny from 79.141.162.12
#deny from 23.247.147.2
#deny from 185.93.182.138
#deny from 62.210.148.87
#deny from 188.143.235.207
#deny from 62.210.162.37
#deny from 91.200.12.93
#deny from 52.221.225.165
#deny from 195.154.199.145
#deny from 195.154.199.140
#deny from 52.78.232.233
#deny from 37.106.231.213
#deny from 217.160.176.77
#deny from 195.154.235.212
#deny from 52.207.186.18
#deny from 160.202.162.204
#deny from 198.204.235.26
#deny from 204.12.228.194
#deny from 192.151.149.10
#deny from 195.154.217.211
# END Brute Force Login Protection
