/**
* CH01 - Resets, Imports & Mixins
* CH02 - Typography
* CH03 - Page Structure
* CH04 - Header & Navigation
* CH05 - Content & Media
* CH06 - Footer
* CH07 - Miscellaneous
* CH08 - Responsive Breakpoints
**/


/* -- CH01 - Resets & Mixins -- */
@import 'partials/mixins';
@import 'font-awesome';

/* -- CH02 - Typography -- */
/*
@font-face {
	font-family: 'Bango';
	src:	url( '../fonts/bango-webfont.eot' );
	src: 	url( '../fonts/bango-webfont.eot' ) format( 'embedded-opentype' ),
			url( '../fonts/bango-webfont.woff' ) format( 'woff' ),
			url( '../fonts/bango-webfont.ttf' ) format( 'truetype' ),
			url( '../fonts/bango-webfont.svg' ) format( 'svg' );
}
*/

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
	font-family: $opensans;
	font-weight: $regular;
	color: $black;
    @include font-size( 16 );
    @include breakpoint( small ) {
        -webkit-text-size-adjust: 100%;
    }
	overflow-x: hidden;
}

/* Selection colours */
::-moz-selection {
	background: lighten( $primary, 30% );
	text-shadow: none;
}

::selection {
	background: lighten( $primary, 30% );
	text-shadow: none;
}
img { display: block; }
img::selection { background: transparent; }
img::-moz-selection	{ background: transparent; }

.fa { font-family: $fontawesome; }

p {
	@include font-size( 14 );
	line-height: 1.3rem;
	color: $black;
	margin: 0 0 10px;
	> a {
		color: $primary;
		@include transition( all, .33s ease-in-out );
		padding: 0;
		margin: 0;
		word-break: break-all;
		&:hover {
			color: #444;
		}
	}
	> b, > strong {
		font-weight: $bold;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $opensans;
	font-weight: $bold;
}
h1 { @include font-size( 36 ); }
h2 { @include font-size( 30 ); line-height: 2.25rem; }
h3 { @include font-size( 21 ); }
h4 { @include font-size( 18 ); }
h5 { @include font-size( 16 ); }
h6 { @include font-size( 14 ); }

ul {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
	li {
		@include font-size( 14 );
		line-height: 1.3rem;
		&:before {
			position: relative;
			top: -2px;
			content: "\f111";
			font-family: $fontawesome;
			font-size: 8px;
			font-size: .5rem;
			color: #CCC;
			margin: 0 15px 0 0;
		}
		ul {
			padding: 0 0 10px 22px;
			li {
				&:before {
					content: "\f10c";
				}
			}
		}
	}
	&.timeline {
		margin: 20px 0 0;
		li {
			position: relative;
			padding: 0 0 20px 30px;
			&:before {
				content: none;
			}
			> span {
				display: block;
				font-weight: $bold;
				text-transform: uppercase;
				&.place {
					@include font-size( 12 );
				}
			}
			a {
				color: $primary;
				@include transition( all, .33s ease-in-out );
				word-break: break-all;
				&:hover {
					color: #444;
				}
			}
			div {
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 100%;
				div {
					position: absolute;
					top: 5px;
					left: 9px;
					width: 12px;
					height: 12px;
					margin-left: -5px;
					background: $primary;
				}
				span {
				    display: block;
				    width: 1px;
					height: 100%;
					margin: 10px auto 0;
				    background: $primary;
				}
			}
			&:first-of-type {
				 div {
					top: 3px;
				}
			}
			&:last-of-type {
				div span {
					height: 2px;
				}
			}
		}

	}
}

blockquote {
	padding: 10px 20px;
	background: #CCC;
	@include border-radius( 5px );
	p {
		margin: 0;
		font-style: italic;
	}
}

.btn {
	display: block;
	width: 150px;
	margin: 0 auto;
	padding: 10px 15px;
	@include font-size( 14 );
	color: $white;
	background: $primary;
	font-weight: $bold;
	text-transform: uppercase;
	border: 0;
	@include border-radius( 0 );
	@include transition( all, .33s ease-in-out );
	&:hover {
		color: $white;
		background: $primaryhover;
	}
}

/* -- CH03 - Page Structure -- */
article {
	position: relative;
}
.post-content {
	.metadata {
		text-transform: uppercase;
		span {
			color: $primary;
		}
	}
	h3 {
		margin: 2rem 0 0.5rem;
	}
	h5 {
		margin: 1em 0 0.5rem;
	}
	a {
		word-break: break-all;
	}
	img {
		width: 100%;
		height: auto;
		margin: 0 0 30px;
	}
	.content-image {
		position: relative;
		float: left;
		width: 300px;
		margin: 0 30px 30px 0;
		border: 5px solid $white;
		box-shadow: 0 0 5px rgba( 0, 0, 0, 0.3 );
		transform: rotate( -4deg );
		figcaption {
			position: absolute;
			left: 5px;
			bottom: 0;
			a {
				@include font-size( 8 ); 
				color: $white;
			}
		}
		img {
			margin: 0;
		}
	}
	.tags {
		p, ul, li {
			float: left;
		}
		p, li {
			margin: 0 5px 0 0;
			@include font-size( 12 );
			text-transform: uppercase;
			&:before {
				margin: 0;
				content: '';
			}
			a {
				color: $primary;
				&:hover {
					color: #444;
				}
			}
		}
	}
}
.sidebar {
	h5 {
		margin: 0 0 15px;
	}
	.post-nav {
		a {
			&:hover {
				color: $white;
			}
			div {
				width: 100%;
				margin: 0 0 10px;
			}
		}
	}
	ul {
		margin: 0 0 15px;
		li {
			a {
				color: $primary;
				@include transition( all, .33s ease-in-out );
				padding: 0;
				margin: 0;
				&:hover {
					color: #444;
				}
			}
		}
		&.blogroll, &.taglist {
			li {
				margin: 0 0 10px;
				color: #888;
				&:before {
					margin: 0;
					content: '';
				}
				img, div {
					float: left;
				}
				img {
					width: 50px;
					height: auto;
					margin: 0 15px 0 0;
				}
				div {
					width: 200px;
					h6 {
						margin: 0;
						font-weight: $regular;
					}
					p {
						margin: 0;
						color: #888;
						@include font-size( 11 );
						text-transform: uppercase;
					}
				}
			}
		}
		&.taglist {
			li {
				float: left;
			    margin: 0 2px 1px 0;
				a {
					display: inline-block;
					width: inherit;
					padding: 3px 6px;
					color: $white;
					@include font-size( 10 );
					font-weight: $regular;
				}
			}
		}
	}

}

/* -- CH04 - Header & Navigation -- */
.header {
	background: #333;
	.masthead {
		.inner {
			.masthead-brand {
				float: left;
				margin: 2px 0;
				padding: .5rem 1rem;
				@include font-size( 16 );
				color: $white;
			}
			.nav-masthead {
				float: right;
				> a {
					margin: 0 0 2px;
					color: #CCC;
					text-transform: uppercase;
					border-top: 2px solid transparent;
					@include transition( all, .33s ease-in-out );
					&:hover, &.active {
						color: $white;
						border-top-color: $white;
					}
				}
			}
		}
	}
}

/* -- CH05 - Content & Media -- */
.banner {
	position: relative;
	background: $lightgrey;
	overflow: hidden;
	.titles {
		display: table;
		width: 60%;
		padding: 10% 0;
		h1 {
			display: table-cell;
			margin: 0;
			padding: 0;
			font-weight: $extrabold;
			text-transform: uppercase;
			vertical-align: middle;
		}
	}
	img {
		position: absolute;
		top: -40%;
		right: -5px;
		left: -5px;
		width: 110%;
		height: auto;
		filter: blur( 5px ) grayscale( 95% ) contrast( 0.25 ) brightness( 1.75 );
	}
}
.sidetext {
	position: absolute;
	top: 135px;
	left: -80px;
	width: 120px;
	margin: 0;
	@include font-size( 11 );
	color: #424242;
	content: 'This is the sidetext.';
	transform: rotate(-90deg);
	text-transform: uppercase;
	i {
		margin: 0 5px 0 0;
		color: $primary;
	}
}
.owl-carousel {
	position: relative;
	.owl-stage-outer {
		width: 100%;
	}
	.owl-nav {
		.owl-prev, .owl-next {
			position: absolute;
			top: 50%;
			margin: -17px 0 0;
			@include font-size( 24 );
			color: rgba( 255, 255, 255, 0.75 );
			text-shadow: 0 0 4px rgba( 0, 0, 60, 0.5 );
			transition: all 0.2s ease-in;
			&:hover {
				color: $primaryhover;
			}
		}
		.owl-prev {
			left: 15px;
		}
		.owl-next {
			right: 15px;
		}
	}
	.owl-dots {
		position: absolute;
		bottom: 5px;
		width: 100%;
		text-align: center;
		.owl-dot {
			display: inline-block;
			width: 8px;
			height: 8px;
			margin: 0 5px 0 0;
			background: lighten( $primary, 25% );
			@include border-radius( 50% );
			transition: all 0.2s ease-in;
			&.active {
				background: $primary;
			}
			&:last-of-type {
				margin: 0;
			}
		}
	}
}

.about, .resume, .services, .portfolio, .news, .twitter-feed, .contact {
	h2 {
		margin: 0 0 30px;
		text-align: center;
		text-transform: uppercase;
	}
}
.about {
	border-bottom: 2px solid $lightgrey;
}
.news, .services {
	background: $lightgrey;
}

.skill {
	margin: 0 0 20px;
	p {
		width: 50%;
		font-weight: $bold;
		text-transform: uppercase;
		&:first-of-type {
			float: left;
		}
		&:last-of-type {
			float: right;
			text-align: right;
		}
	}
	.gauge {
		position: relative;
		width: 100%;
		height: 5px;
		background: $lightgrey;
		.amount {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 66%;
			height: 5px;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fad4cd+0,ee7059+100 */
			background: lighten( $primary, 25% ); /* Old browsers */
			background: -moz-linear-gradient( left, lighten( $primary, 25% ) 0%, $primary 100% ); /* FF3.6-15 */
			background: -webkit-linear-gradient( left, lighten( $primary, 25% ) 0%, $primary 100% ); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient( to right, lighten( $primary, 25% ) 0%, $primary 100% ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fad4cd', endColorstr='#ee7059', GradientType=1 ); /* IE6-9 */
		}
	}
}

.service {
	padding: 15px;
	@include transition( all, .33s ease-in-out );
	i, p {
		display: block;
		text-align: center;
	}
	p:first-of-type {
		margin: 10px 0 0;
		font-weight: $bold;
		text-transform: uppercase;
	}
	&:hover {
		background: $white;
		cursor: pointer;
		i {
			color: $primary;
		}
	}
}

.portfolio-item {
	position: relative;
	width: 100%;
	height: 200px;
	margin: 0 0 30px;
	background: $lightgrey;
	img {
		width: 100%;
		height: 200px;
		object-fit: cover;
	}
	a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		div {
			height: 100%;
			background: rgba( 0, 0, 0, 0.5 );
			opacity: 0;
			transition: all 0.3s ease-in-out;
			p {
				position: absolute;
				bottom: 33px;
				left: 20px;
				right: 20px;
				margin: 0;
				font-weight: $bold;
				color: $white;
				&:first-of-type {
					top: 50%;
					left: 50%;
					margin: -10px 0 0 -10px;
					@include font-size( 36 );
				}
				&:last-of-type {
					bottom: 15px;
					@include font-size( 12 );
					font-weight: $light;
					text-transform: uppercase;
				}
			}
		}
		&:hover div {
			opacity: 1;
		}
	}
	&.extended {
		height: 430px;
		img {
			height: 430px;
		}
	}
}

.news-item {
	width: 100%;
	height: 430px;
	margin: 0 0 30px;
	.featured-img {
		position: relative;
		margin: 0;
		img {
			width: 100%;
			height: 200px;
			object-fit: cover;
			object-position: center top;
		}
		figcaption {
			position: absolute;
			left: 5px;
			bottom: 2px;
			a {
				@include font-size( 8 ); 
				color: $white;
			}
		}
	}
	.captions {
		position: relative;
		width: 100%;
		height: 230px;
		padding: 20px;
		background: $white;
		a {
			position: absolute;
			bottom: 20px;
			left: 20px;
			color: $primary;
			@include font-size( 14 );
			@include transition( all, .33s ease-in-out );
			&:hover {
				color: #444;
			}
		}
	}
	&.featured {
		@extend %clearfix;
		.featured-img, .captions {
			float: left;
			width: 50%;
			height: 430px;
		}
		.featured-img img {
			height: 430px;
		}
	}
}
.blog, .archive {
	.news-item {
		.captions {
			background: $lightgrey;
		}
	}
}
.twitter-feed {
	background: #222;
	h2 {
		color: $white;
	}
	img {
		opacity: 0.075;
	}
	.twitter-container {
		margin: 0 0 50px;
		padding: 15px 50px;
		background: rgba( 255, 255, 255, 0.975 );
		text-align: center;
		.twitter-inner {
			.tweet-date {
				@include font-size( 12 );
			}
		}
		.owl-carousel {
			.owl-nav {
				.owl-prev, .owl-next {
					color: lighten( $primary, 25% );
					text-shadow: none;
					&:hover {
						color: $primaryhover;
					}
				}
				.owl-prev {
					left: -40px;
				}
				.owl-next {
					right: -40px;
				}
			}
			.owl-dots {
				bottom: -10px;
			}
		}
	}
	.sidetext {
		color: $white;
	}
}

.contact-point {
	span {
		font-weight: $bold;
		text-transform: uppercase;
	}
}

.social-links {
	@extend %clearfix;
	li {
		float: left;
		width: 40px;
		height: 40px;
		margin: 0 15px 0 0;
		background: $lightgrey;
		text-align: center;
		@include border-radius( 50% );
		@include transition( all, .33s ease-in-out );
		&:before {
			margin: 0;
			content: '';
		}
		a {
			display: block;
			height: 100%;
			line-height: 40px;
			i {
				color: $black;
			}
		}
		&:hover {
			a > i {
				color: $white;
			}
		}
		&.facebook:hover {
			background: #365899;
		}
		&.twitter:hover {
			background: #1DA1F2;
		}
		&.pinterest:hover {
			background: #BD081C;
		}
		&.linkedin:hover {
			background: #0073B1;
		}
		&:last-of-type {
			margin: 0;
		}
	}
}

.wpcf7-form {
	input[type="text"], input[type="email"], textarea {
		width: 100%;
		height: 40px;
		margin: 5px 0 0;
		padding: 5px 10px;
		background: $lightgrey;
		border: 0;
		&.wpcf7-not-valid {
			border: 1px solid #F00;
		}
	}
	textarea {
		height: 150px;
	}
	.smallprint {
		color: #888;
		@include font-size( 10 );
	}
	.wpcf7-not-valid-tip {
		margin: 5px 0 0;
	}
	.wpcf7-validation-errors {
		margin: 10px 0 0;
	    padding: 10px;
		@include font-size( 12 );
	    font-weight: $bold;
		text-align: center;
	}
	.ajax-loader {
		display: block;
		margin: 5px auto 0;
	}
}

.post-content h3:after, .post-content h5:after, .rule:after {
	display: block;
	content: '';
	width: 50px;
	height: 2px;
	margin: 0.5rem 0 1rem;
	background: $lightgrey;
}

/* -- CH06 - Footer -- */
.footer {
	@extend %clearfix;
	background: #333;
	p {
		float: left;
		width: 50%;
		margin: 0;
		padding: .5rem 1rem;
		color: $white;
		@include font-size( 12 );
		&:last-of-type {
			text-align: right;
		}
		> a:hover {
			color: $primaryhover;
		}
	}
}

/* -- CH07 - Miscellaneous -- */
.jumpto.backtotop {
	position: fixed;
	right: 25px;
	bottom: 25px;
	width: 50px;
	height: 50px;
	padding: 12px 0 0;
	background: $primary;
	color: $white;
	text-align: center;
	&:hover {
		background: $primaryhover;
	}
}
.pagination-wrapper {
	width: 100%;
	margin: 15px 0 0;
    text-align: center;
	.pagination {
		display: inline-block;
		.page-numbers {
			float: left;
			display: block;
			width: 30px;
			height: 30px;
			@include font-size( 12 );
			font-weight: $bold;
			margin: 0 5px 0 0;
			background: lighten( $primary, 10% );
			color: $white;
			line-height: 30px;
			text-transform: uppercase;
			text-decoration: none;
			&.current {
				background: $primary;
			}
			&.next, &.prev {
				width: 100px;
			}
			&.next {
				margin: 0;
			}
			&:hover {
				background: $primaryhover;
			}
		}
	}
}

.light-font { font-weight: $light; }
.bold-font { font-weight: $bold; }

.primary-col { color: $primary; }

.primary-bg { background: $primary; }

.touchevents {
	.portfolio-item {
		a div {
			opacity: 1;
		}
	}
}

/* -- CH08 - Responsive Breakpoints -- */
@media only screen and (max-width: 1700px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 991px) {
	.banner img {
		width: 150%;
	}
	.news-item {
		height: 530px;
		.captions {
			height: 330px;
		}
		&.featured {
			.captions, .featured-img img {
				height: 530px;
			}
		}
	}
	.sidebar {
		ul.blogroll {
			li {
				div {
					width: 140px;
					p {
						line-height: 1rem;
					}
				}
			}
		}
	}

}

@media only screen and (max-width: 767px) {
	.banner img {
		width: 250%;
	}
	.header {
		.masthead {
			.inner {
				.masthead-brand {
					float: none;
					margin: 2px auto;
					text-align: center;
				}
				.nav-masthead {
					> a:hover, > a:active {
						border-top-color: transparent;
					}
				}
			}

		}
	}
	.news-item {
		height: 420px;
		.captions {
			height: 220px;
		}
		&.featured {
			height: 570px;
			.captions, .featured-img {
				float: none;
				width: 100%;
				height: 220px;
				img {
					height: 220px;
				}
			}
			.captions {
				height: 350px;
			}
		}
	}
	.social-links {
		margin: 0 0 30px;
	}
	.sidebar {
		ul.blogroll {
			li {
				div {
					width: 200px;
				}
			}
		}
	}

}

@media only screen and (max-width: 600px) {
	.post-content img.content-image {
		width: 100%;
		margin: 0 0 15px 0;
	}
}

@media only screen and (max-width: 479px) {

}

@media only screen and (max-width: 410px) {
	h1 { @include font-size( 33 ); }

	.news-item {
		height: 470px;
		.captions {
			height: 270px;
		}
		&.featured {
			height: 620px;
			.captions, .featured-img {
				height: 220px;
				img {
					height: 220px;
				}
			}
			.captions {
				height: 400px;
			}
		}
	}

	.sidebar {
		ul.blogroll {
			li {
				div {
					width: 140px;
				}
			}
		}
	}


}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

}
